<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>correct</title>
    <!--Cs-->
    <link rel="stylesheet" href="./../css/main.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Gurajada" rel="stylesheet">
    <!-- Fontawesome-->
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row center">
            <div class="col l12">
                <h1>Registro Correcto</h1>
                <i style="color: rgb(31, 161, 74)" class="fas fa-check fa-5x"></i>
                <p>Gracias por usar nuestro servicio. Te hemos enviado un correo eléctronico con los datos de la transacción junto con tus boletos en digital</p>
                <p>Revisa nuestro avisao de privacidad <a href="#">aqui</a></p>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Compiled and minifi cript -->
    <script></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
   <!--JS-->
   <script type="text/javascript" src="./../js/app.js"></script>
</body>
</html>